:root {
  /* Font */
  --font-montserrat: 'Montserrat', sans-serif;
  --font-fraunces: 'Fraunces', serif;

  /* Font weights */
  --font-regular: 400;
  --font-bold: 700;

  /* Font sizes */
  --size-big-xxl: 50px;
  --size-big-xl: 40px;
  --size-big-m: 30px;

  --size-xx-large: 28px;
  --size-x-large: 24px;
  --size-large: 20px;
  --size-medium: 16px;
  --size-small: 12px;
  --size-x-small: 8px;
  --size-xx-small: 4px;

  /* Colors — Primary */
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);

  /* Colors — Neutral */
  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);

  /* Spacing scale */
  --space-big-xl: 40px;
  --space-big-m: 30px;

  --space-xxl: 32px;
  --space-xl: 24px;
  --space-lg: 20px;
  --space-md: 16px;
  --space-sm: 12px;
  --space-xs: 8px;
  --space-xxs: 4px;
  --space-2: 2px;
  --space-1: 1px;

  /* Border radius scale */
  --radius-xl: 20px;
  --radius-lg: 12px;
  --radius-md: 8px;
  --radius-sm: 4px;
  --radius-round: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-montserrat);
}